.project-container {
    padding: 0px 300px 0px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-header-container {
    display: flex;
    align-items: center;
}

.project-header {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 5px;
}

.project-title {
    font-size: 25px;
    font-weight: 600;
}

.project-description {
    font-size: 17px;
    font-weight: 400;
}