.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-link {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--accent);
    cursor: pointer;
}

.dark-mode-toggle {
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
}