.journey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px 100px;
    gap: 100px;
}

.journey-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.journey-title {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-primary);
    white-space: nowrap;
}

.timeline {
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--journey-line);
    gap: 50px;
    align-self: center;
}

.timeline-item {
    display: flex;
    align-items: center ;
    gap: 40px;
    padding-left: 50px;
}

.timeline-year {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-primary);
    min-width: 80px;
}

.timeline-event {
    font-size: 15px;
    color: var(--text-primary);
    padding-left: 20px;
    max-width: 400px;
}