html {
    scroll-behavior: smooth;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #E0E1DD;
    color: #1B263B;
    transition: background 0.9s ease, color 0.9s ease;
}

body:not(.site-loaded) > * {
    opacity: 0;
    transform: translateY(25px);
    will-change: opacity, transform;
}

body.site-loaded > * {
    animation: slideFade 1s cubic-bezier(.2,.8,.2,1) forwards;
}

@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body.dark-mode {
    background: linear-gradient(90deg, #3C1E96, #1B263B);
    color: #E0E1DD;
}